img {
    display: none;
}
body {
    /* background-image: url("../images/page_bkg.jpg"); */
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Dokdo', cursive;
}
#canvas {

}

.canvas-container {
    display: flex;
}

#start-menus {
    position: absolute;
    height: 500px;
    width: 900px;
    left: 25%; 
    top: 25%;
    font-size: 50px;
    color: black;
    /* background: rgb(0,0,0,0.3); */
}
.title {
    font-size: 120px;
    font-family: 'Freckle Face', cursive;
    font-weight: 1000;
    color: #ddd;
    position: absolute;
    top: 0px;
    /* text-align: center; */
}

.hidden {
    display: none;
}

.social-link {
    display: flex;
    position: absolute;
    /* top: 700px;
    left: 400px; */
    justify-content: space-between;
    bottom: 20px;
}

.instruction {
    font-size: 30px;
    margin-top: 10px;
    color: white;
}

i {
    color: white;
    margin: 10px;
}